<div>
	<ion-view view-title="{{student.studentName}}">
		<ion-content class="padding">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Nume</span>
					<input ng-model="student.nume" type="text">
        		</label>
				<label class="item item-input">
					<span class="input-label">Prenume</span>
					<input ng-model="student.prenume" type="text">
				</label>
				<div class="attendance">
					<label class="item item-input">
						<span class="input-label">Număr absențe</span>
						<input ng-model="student.nrAbsente" type="text">
					</label>
					<div class="buttons buttons-right">
						<button type="button" class="button icon ion-minus-round" ng-click="decrement()"></button>
						<button type="button" class="button icon ion-plus-round" ng-click="increment()"></button>
					</div>
				</div>
				<label class="item item-input">
					<span class="input-label">Notă proiect</span>
					<input ng-model="student.notaProiect" type="text">
				</label>
				<!--<ion-toggle ng-model="newGroup.proiectObligatoriu" toggle-class="toggle-calm">Proiect obligatoriu</ion-toggle>-->

				<label class="item item-input">
					<span class="input-label">Note teste</span>
					<input ng-model="student.notaTest" type="text">
				</label>
				<button class="button button-full button-dark" ng-click="createGroup(newGroup)">Salvează</button>
			</div>
		</ion-content>
	</ion-view>
</div>