<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Setari grupă</h1>
        <button class="button button-clear button-primary" ng-click="settingsModal.hide()">Renunță</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nume grupă</span>
                <input ng-model="group.name" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Numar minim prezente</span>
                <input ng-model="group.nrMinimPrezente" type="text">
            </label>
            <ion-toggle ng-model="group.proiectObligatoriu" toggle-class="toggle-calm">Proiect obligatoriu</ion-toggle>
            <label class="item item-input">
                <span class="input-label">Numar teme</span>
                <input ng-model="group.nrTeme" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Numar săptămâni</span>
                <input ng-model="group.nrSaptamani" type="text">
            </label>
            <label class="item item-input">
                <textarea style="height: 180px" placeholder="Introduceți o notiță aici" ng-model="group.notita" type="text"></textarea>
            </label>
            <div class="button-container">
                <button class="button button-full button-dark" ng-click="saveGroup(group)">Salvează</button>
                <button class="button button-full button-dark" ng-click="openReportModal()">Raport grupă</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>