<ion-view view-title={{group.name}}>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-icon icon ion-android-settings" ng-click="openSettingsModal()"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list can-swipe="true">
			<ion-item ng-repeat="student in groupStudents" ng-click="openStudentEntry(student, group)">
        		{{student.nume}} {{student.prenume}}
				<ion-option-button class="button-assertive"
                       ng-click="deleteStudent(student)">
					Șterge
				</ion-option-button>
				<ion-option-button class="button-positive"
                       ng-click="markAsAttending(student)">
					Prezent
				</ion-option-button>
			</ion-item>
			
		</ion-list>
	</ion-content>
	<div class="group-buttons bottom-button">
		<button class="button button-dark" ng-click="updateAttendance()">
			Adaugă <span ng-if="attendingStudentsLocal.length">{{attendingStudentsLocal.length}}</span> prezente
		</button>
		<button class="button button-dark" ng-click="modal.show()">
			Adăugare student
		</button>
	</div>
</ion-view>