<ion-view view-title={{group.name}}>
	<ion-nav-buttons side="right">
		<button class="button button-clear button-icon icon ion-android-settings" ng-click="openSettingsModal()"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="student in groupStudents" ng-click="openStudentEntry(student, group)">
        		{{student.nume}} {{student.prenume}}
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="bottom-button">
		<button class="button button-dark" ng-click="modal.show()">
			Adăugare student
		</button>
	</div>
</ion-view>