<ion-view view-title={{groupName}}>
	<ion-nav-buttons side="right">
		<div class="settings-btn">
			<ion-icon ios="ios-settings" md="md-settings"></ion-icon>
		</div>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="student in group.groupMembers" ng-click="openStudentEntry(student, group)">
        		{{student.studentName}}
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="bottom-button">
		<button class="button button-dark" ng-click="modal.show()">
			Adaugare student
		</button>
	</div>
</ion-view>