.settings-btn {
    height: 20px;
}

.bottom-button {
    position: fixed;
    bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.buttons-right {
    position: absolute;
    right: 0;
}