<ion-view view-title="Acasă">
    <ion-nav-buttons side="right">
        <button class="button button-info button-clear no-animation"
                ng-click="goToGroups()">
        Skip
        </button>
    </ion-nav-buttons>
    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <h3>Bine ați venit!</h3>
            <div id="logo">
                <img src="http://i.imgur.com/juAzzt2.png">
            </div>
            <h4>
                Aplicația 'Teacher's Helper' este aici să vă ușureze ziua de lucru.
                </br>
                </br>
                Urmează un scurt tutorial pentru folosirea aplicației.
            </h4>
        </ion-slide>
        <ion-slide>
            <h3>Creare grupă</h3>
            <div class="tutorial-list">
                    <ol>
                        <li>Se apasă pe butonul Adăugare grupă</li>
                        <li>Se completează informațiile despre grupă</li>
                        <li>In secțiunea 'Link spreadsheet' se pune un link de Google Spreadsheet public. Spreadsheetul trebuie
                            să conțină doua coloane. Primele rânduri de pe fiecare coloană trebuie să fie 'nume' respectiv
                            'prenume'</li>
                    </ol>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="middle-container">
                <h3>Să începem prin a naviga spre secțiunea destinata grupelor</h3>
                <button style="width: 130px;justify-self: center;" class="button button-dark" ng-click="goToGroups()">Grupe</button>
            </div>
        </ion-slide>
    </ion-slide-box>
</ion-view>